.pawpal-container
{
    border-bottom: 1px solid black;
    height: 6em;
    padding: 0.5em;
    display: flex;

}

.pawpal-img-container
{
    width: 5em;
    height: 5em;
    float: left;
}

.pawpal-name-style
{
    float: left;
}

.pawpal-details
{
    margin-left: 1.2em;
    text-transform: capitalize;

}
