footer
{
    border: 2px solid black;
    background-color: #363537;
    color: white;
    align-items: center;
}
footer > div > h1, p
{
    text-align: center;
}

.credits
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}